@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
h1 {
    font-family: 'Creepster', cursive;
    color: rgb(21, 46, 56);
    text-shadow: 1px 2px rgb(110, 201, 24);
    background-color: #e4e5e7;
}

body {
    background-color: #24282f;
}

.card {
    background-color: #555b69;
    color: aliceblue;
}